<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" routerLink="">
    <img src="/assets/icon.png" width="50" height="50" class="d-inline-block align-center" alt="">
    Clínica Odontoluz
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav"
    aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item">
        <a class="nav-link" routerLink="especialidades">Especialidades</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="agendar">Agendar Horário</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="avisos">Avisos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="onde_estamos">Onde Estamos</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink="contato">Contato</a>
      </li>
    </ul>
  </div>
</nav>